<section class="signUp" >
  <div class="container w-100 h-100">
    <app-header />
    <div
      class="row h-75 d-flex justify-content-center align-items-center align-content-center"
      [dir]="translateService.currentLang === 'ar' ? 'rtl' : 'ltr' ">
      <form [formGroup]="signUpForm" (ngSubmit)="signUpUser()">
        <div class="col-12 mb-4">
          <label for="email" class="mb-2">{{
            "profile.email" | translate
          }}</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control w-100"
          />
        </div>

        <div class="col-12">
          <label for="password" class="mb-2">{{
            "profile.password" | translate
          }}</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control w-100"
          />
        </div>

        <div class="col-12 d-flex justify-content-center align-content-center">
            <button class="btn signUpBtn px-5 my-4" appMainButtons >{{ 'auth.signUpBtn' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</section>
