@import "../../../../../../public/styles/theme.scss";

.signIn {


  .form-control {
    background-color: inherit !important;
    &:focus,
    &:hover,
    &:active {
      box-shadow: none !important;
      outline: 0 !important;
      border-color: var(--text-color);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .signInBtn,
  .form-control {
    color: var(--text-color);
  }
}
