$grayColor: #898989;

$mainBackgroundColor: #f8f9fa;
$headerIconsColor: #495057;

// LIGHT THEME VARIABLES
$light-background-color: #f8f9fa;
$light-text-color: #000000;
$light-headerIconsColor: #495057;
// $secondaryColor: #DF6D2D;

// DARK THEME VARIABLES
// $dark-background-color: #343a40;
$dark-background-color: oklch(16.93% .004 285.95);
$dark-text-color: #f8f9fa;
$dark-headerIconsColor: #f8f9fa;
$secondaryColor: #DF6D2D;



