@import "../../../../../public/styles/theme.scss";

.auth {
  height: 100vh;
  width: 100%;

  label {
    color: var(--secondaryColor);
    font-weight: 500;
  }

  .form-control {
    background-color: var(--background-color) !important;
    color: var(--secondaryColor);
    border-color: var(--border-color);

    &:focus,
    &:hover,
    &:active {
      box-shadow: none !important;
      outline: 0 !important;
      border-color: var(--border-color);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .authBtn {
    color: var(--secondaryColor);
    cursor: pointer;
    font-weight: 500;
  }

  form {
    @media screen and (min-width: 768px) {
      width: 60%;
    }
  }

  .redirectBtn{
    color: var(--secondaryColor) !important;
    font-weight: 500;
    cursor: pointer;

    i{
      font-size: 20px;
    }
  }
}
// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active,
// input:-internal-autofill-selected {
//   transition: background-color 5000s ease-in-out 0s;
//   -webkit-text-fill-color: var(--secondaryColor);
//   background-color: var(--background-color);
// }
